
# This is created for the HackInstead 2020

In [25]:
print('This is for HackInstead')

This is for HackInstead

In [22]:
#!pip install pandas
import pandas as pd

url = 'https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv'
df = pd.read_csv(url,header=0)
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-22      Albania          0          0       0
2  2020-01-22      Algeria          0          0       0
3  2020-01-22      Andorra          0          0       0
4  2020-01-22       Angola          0          0       0

In [24]:
df_cad = df[df['Country']=='Canada']
df_cad.shape

(198, 5)

In [15]:
url2 = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
df2 = pd.read_csv(url2,header=0)
df2.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,0.0,0.0,18.733,18.733,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.0,0.0,37.465,18.733,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,ABW,North America,Aruba,2020-03-24,12.0,8.0,0.0,0.0,112.395,74.930,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,ABW,North America,Aruba,2020-03-25,17.0,5.0,0.0,0.0,159.227,46.831,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,ABW,North America,Aruba,2020-03-26,19.0,2.0,0.0,0.0,177.959,18.733,...,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29

In [16]:
df2.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy'],
      dtype='object')

In [17]:
df_canada = df2[df2['location']=='Canada']

In [18]:
df_canada.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
5502,CAN,North America,Canada,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5503,CAN,North America,Canada,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5504,CAN,North America,Canada,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5505,CAN,North America,Canada,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5506,CAN,North America,Canada,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43

In [20]:
df_canada

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
5502,CAN,North America,Canada,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5503,CAN,North America,Canada,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5504,CAN,North America,Canada,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5505,CAN,North America,Canada,2020-01-03,0.0,0.0,0.0,0.0,0.000,0.000,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5506,CAN,North America,Canada,2020-01-04,0.0,0.0,0.0,0.0,0.000,0.000,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5718,CAN,North America,Canada,2020-08-03,116870.0,285.0,8945.0,4.0,3096.537,7.551,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5719,CAN,North America,Canada,2020-08-04,117017.0,147.0,8947.0,2.0,3100.432,3.895,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5720,CAN,North America,Canada,2020-08-05,117777.0,760.0,8958.0,11.0,3120.569,20.137,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5721,CAN,North America,Canada,2020-08-06,118172.0,395.0,8962.0,4.0,3131.035,10.466,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43
5722,CAN,North America,Canada,2020-08-07,118546.0,374.0,8966.0,4.0,3140.944,9.909,...,10.797,44017.591,0.5,105.599,7.37,12.0,16.6,NaN,2.5,82.43